rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /User/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if false;
    }

    match /events/{document} {
      allow create: if false;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /UsernamesCollection/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /newsSection/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /topics/{document} {
      allow create: if false;
      allow read: if true;
      allow write: if true;
      allow delete: if false;
    }

    match /topics/{parent}/posts/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if request.auth != null;
    }

    match /{path=**}/posts/{document} {
      allow read: if true;
    }


    match /MainFeed/{document} {
      allow create: if false;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if false;
    }

    match /FeedSubPosts/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if false;
    }

    match /userGeneratedContent/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /userGeneratedContent/{parent}/comments/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /{path=**}/comments/{document} {
      allow read: if true;
    }


    match /notifications/{document} {
      allow create: if false;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /challenges/{document} {
      allow create: if false;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if false;
    }

    match /challenges/{parent}/participants/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /{path=**}/participants/{document} {
      allow read: if true;
    }


    match /verificationApplication/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /competitions/{document} {
      allow create: if false;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }
  }
}
